.navbar1234 p{
    color: white;
    font-weight: 400;
    background: linear-gradient(69.5deg, rgb(251, 0, 0) -0.5%, rgb(3, 10, 252) 97.4%);
    margin: 0px;
    padding: 10px;
    text-align: center;
    
    
}
.top1234{
    margin-top: 20px;
 
}