@tailwind base;
@tailwind components;
@tailwind utilities;
.biggallery{
    height: 40px;
}
.ding{
    border: 2px solid black;
    box-shadow: none;
    border-radius: 20px;
    margin-top: 80px;
}
