/* Style for the dropdown container */
.services-dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    background: linear-gradient(69.5deg, rgb(245, 1, 1) -0.5%, rgb(3, 10, 252) 97.4%);
    
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  /* Style for the dropdown button */
  .dropbtn {
    background-color: blue;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
  }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position below the services button */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Style for the dropdown buttons */
  .dropdown-content button {
    background-color: inherit;
    border: none;
    outline: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  /* Style for the dropdown buttons on hover */
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown content when hovering over the dropdown */
  .services-dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style for the cancel button */
  .selected-service button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Adjust margin to position next to dropdown */
  }
  
  /* Style for the cancel button on hover */
  .selected-service button:hover {
    background-color: #06509f;
  }
  